button {
  display: block;
  width: 80%;
  margin-bottom: 10px;
  padding: 10px 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 15px;
  text-transform: uppercase;
}

button:active {
  background-color: rgba(102, 102, 102, 0.55);
}