.dashboard {
  width: 100%;

  header {
    height: 80px;
  }

  &__title {
    width: 60%;
  }

  &__mission-container {
    font-size: 32px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
    padding-bottom: 15px;
  }

  &__mission {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    padding-top: 33.33%;
    position: relative;
  }

  &__tile {
    width: 30px;
    height: 30px;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
    }

    .dashboard__path-img {
      $size: 5px;
      height: $size;
      width: $size;
    }

    .dashboard__active-img {
      border-radius: 50%;
      animation: flare 2s infinite;
    }
  }

  &__balance-checker {
    position: relative;
    height: 150px;
    @media (max-width: 349px) {
      height: 130px;
    }
  }

  &__arm {
    height: 100%;
  }

  &__watch-face {
    position: absolute;
    font-size: 18px;
    letter-spacing: 3px;
    top: 34%;
    left: 46%;
    @media (min-width: 350px) and (max-width: 400px) {
      left: 47%;
    }
    @media (min-width: 401px) {
      left: 41%;
    }
    width: 75px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}
