.dashboard {
  width: 100%;

  &__title {
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__mission-container {
    font-size: 32px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
  }

  &__mission {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    padding-top: 33.33%;
    position: relative;
  }

  &__tile {
    width: 30px;
    height: 30px;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
    }

    .dashboard__path-img {
      $size: 5px;
      height: $size;
      width: $size;
    }

    .dashboard__active-img {
      border-radius: 50%;
      animation: flare 2s infinite;
    }
  }
}
