.slideshow {
  main {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
  }

  .slideshow__hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .slideshow__answers {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    width: 80%;
  }

  %slideshow__navigation {
    margin: 0 auto;
    width: 90%;
  }

  .slideshow__navigation--both {
    @extend %slideshow__navigation;
    display: flex;
    justify-content: space-between;
  }

  .slideshow__navigation--single {
    @extend %slideshow__navigation;
    margin: 0 auto;
    text-align: right;
  }

  %next-button {
    display: inline-block;
    max-width: 30px;
    max-height: 30px;
  }

  .slideshow__next-button-1 {
    @extend %next-button;
  }

  .slideshow__next-button-2 {
    @extend %next-button;
  }
}