.slideshow {
  main {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
  }

  .slideshow__hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .slideshow__next-options {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    width: 80%;
  }

  %next-button {
    display: block;
    max-width: 60px;
    max-height: 60px;
  }

  .slideshow__next-button-1 {
    @extend %next-button;
  }

  .slideshow__next-button-2 {
    @extend %next-button;
  }
}

.slide {
  &--back {
    &-enter {
      transform: translate(-100%);

      &.slide--back-enter-active {
        transform: translate(0%);
        transition: transform 1000ms ease-in-out;
      }
    }

    &-leave {
      transform: translate(0%);

      &.slide--back-leave-active {
        transform: translate(100%);
        transition: transform 1000ms ease-in-out;
      }
    }
  }

  &--forward {
    &-enter {
      transform: translate(100%);

      &.slide--forward-enter-active {
        transform: translate(0%);
        transition: transform 1000ms ease-in-out;
      }
    }
    &-leave {
      transform: translate(0%);

      &.slide--forward-leave-active {
        transform: translate(-100%);
        transition: transform 1000ms ease-in-out;
      }
    }
  }
}
