.jackInTheBox {
  &-enter {
    &.jackInTheBox-enter-active {
      animation-duration: .5s;
      animation-name: jackInTheBox;
    }
  }
  &-leave {
    opacity: 0;
    &.jackInTheBox-leave-active {
      transform: translateY(1px);
      opacity: 0;
      transition: transform .1s linear;
    }
  }
}

.slide {
  &-enter {
    transform: translateY(100%);

    &.slide-enter-active {
      transform: translateY(0%);
      transition: transform .5s cubic-bezier(0, 1, 0.5, 1);
    }
  }
  &-leave {
    transform: translateY(0%);

    &.slide-leave-active {
      transform: translateY(-100%);
      transition: transform .5s cubic-bezier(0, 1, 0.5, 1);
    }
  }
}
