@keyframes flare {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(229, 164, 181, 0.6);
    box-shadow: 0 0 0 0 rgba(229, 164, 181, 0.6);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(229, 164, 181, 0);
    box-shadow: 0 0 0 15px rgba(229, 164, 181, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(229, 164, 181, 0);
    box-shadow: 0 0 0 0 rgba(229, 164, 181, 0);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 1;
    transform: translate(50px, -50%);
  }
  50% {
    opacity: 0.7;
    transform: translate(-80px, -50%);
  }
  75%{
    opacity: 0.2;
    transform: translate(-80px, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-80px, -50%);
  }
}