@font-face {
  font-family: 'AmaticSC-Regular';
  src: url('/fonts/AmaticSC-Regular.eot');
  src: url('/fonts/AmaticSC-Regular.woff2') format('woff2'),
  url('/fonts/AmaticSC-Regular.woff') format('woff'),
  url('/fonts/AmaticSC-Regular.ttf') format('truetype'),
  url('/fonts/AmaticSC-Regular.svg#AmaticSC-Regular') format('svg'),
  url('/fonts/AmaticSC-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}